In [57]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.shape

(8523, 12)

In [4]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [32]:
data=pd.get_dummies(data)

In [33]:
train=data[0:799]

In [34]:
test=data[800:]

In [35]:
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
800,17.00,0.052166,125.0730,1987,1108.5570,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
801,10.50,0.000000,162.4210,2002,1304.9680,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
802,8.93,0.000000,55.4614,2002,331.5684,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
803,NaN,0.077537,180.8660,1985,3235.7880,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
804,16.10,0.024928,95.1410,1987,3089.3120,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [36]:
x_train=train.drop('Item_Outlet_Sales', axis=1)

In [37]:
y_train=train['Item_Outlet_Sales']

In [38]:
x_test=test.drop('Item_Outlet_Sales', axis=1)

In [39]:
true_p=test['Item_Outlet_Sales']

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
lreg=LinearRegression()

In [50]:
lreg.fit(x_train,y_train)

LinearRegression()

In [43]:
x_train=pd.get_dummies(x_train)

In [44]:
x_train.shape

(799, 1604)

In [45]:
x_test=pd.get_dummies(x_test)

In [46]:
x_train.fillna(0,inplace=True)

In [47]:
x_test.fillna(0,inplace=True)

In [54]:
pred=lreg.predict(x_test)

In [55]:
lreg.score(x_test,true_p)

-2.930219085925793e+18

In [59]:
lreg.score(x_train,y_train)

0.9004047875888255

In [60]:
rmse_test = np.sqrt(np.mean(np.power((np.array(true_p)-np.array(pred)),2)))

In [61]:
rmse_train = np.sqrt(np.mean(np.power((np.array(y_train)-np.array(lreg.predict(x_train))),2)))

In [62]:
print(rmse_train)
print(rmse_test)

552.445506163018
2913164001387.5405